target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# vi
*.swp

# macOS
.DS_Store

# PadoGrid
.addonenv.sh
.workspace*
initenv.sh
setenv.sh
#apps
bundles
clusters
#docker
k8s
lib
plugins
pods

# JupyterLab
.ipynb_checkpoints

# App specifics
archive
log
lib
desktop
setenv.sh0
build
pado_*
apps/perf_test*
docker/mysql/data
vmenv.sh
